@import "fonts.scss";
@import "theme.scss";

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	transition: background-color 200ms ease-in;
}

body {
	@include themify-self("background-color", "neutral-0");
	@include themify-self("color", "neutral-900");
	font-family: Arial, Helvetica, sans-serif;
}

pre {
	// TODO: also skewY?
	padding: 1em;
	border-radius: 0.25em;
	@include background-color("t-neutral-100");
}

b {
	@include color("bold-text");
}

ul {
	list-style: none;
	padding: 40px 0 0 0.5em;
}

li {
	position: relative;
	padding-bottom: 32px;
	padding-left: 20px;

	&::before {
		content: "•";
		@include color("neutral-500");
		font-size: 32px;

		position: absolute;
		left: 0px;
		top: 0px;
	}
}

a.outbound {
	display: inline-flex;

	&::after {
		content: "";
		background-image: url("assets/icons/external-link-alt.svg");
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: center;
		width: 24px;
		opacity: 0.5;
	}

	&:hover::after {
		opacity: 0.8;
	}
}

// #region scrollbar

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

@include themify-self-after("body", "::-webkit-scrollbar-thumb", "background-color", "neutral-500");

::-webkit-scrollbar-thumb {
	border-radius: 12px;
}

.theme-light [href*="twitter"],
.dark[href*="twitter"] {
	background-image: url("assets/icons/twitter-dark.svg");
	margin: 0 1vw;
}

.theme-light [href*="linkedin"],
.dark[href*="linkedin"] {
	background-image: url("assets/icons/linkedin-dark.svg");
	margin: 0 1vw;
}

.theme-dark [href*="twitter"],
.light[href*="twitter"] {
	background-image: url("assets/icons/twitter-light.svg");
	margin: 0 1vw;
}

.theme-dark [href*="linkedin"],
.light[href*="linkedin"] {
	background-image: url("assets/icons/linkedin-light.svg");
	margin: 0 1vw;
}

// #endregion
