@import "theme.scss";

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
		url("assets/fonts/SourceSansPro-Regular.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
		url("assets/fonts/SourceSansPro-Bold.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
	font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h4,
p {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

// homepage name
h1 {
	font-size: 40px;
	line-height: 56px;
	font-weight: bold;
}

// post titles
h2 {
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
	&.faded {
		opacity: 0.8;
	}
}

// primary paragraphs
h4 {
	font-size: 24px;
	line-height: 36px;
}

aside {
	font-size: 16px;
	line-height: 24px;
}

p,
main,
body {
	font-size: 20px;
	line-height: 28px;
}

p {
	padding: 1vh 0;
}

a,
a:visited {
	font-weight: bold;
	@include color("primary-500");
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
